# Task 1: Data Cleaning and Preprocessing

Objective: Clean and prepare a raw dataset (with nulls, duplicates, inconsistent formats)

This notebook demonstrates data cleaning using the `sales_data_sample.csv` dataset.

Step 1: Import Libraries

In [13]:
import pandas as pd

Step 2: Load Dataset

In [14]:
df = pd.read_csv('sales_data_sample.csv', encoding='latin1')
df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

Step 3: Check for Missing Values

In [15]:
print('Original Shape:', df.shape)
df.isnull().sum()

Original Shape: (2823, 25)

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2        2521
CITY                   0
STATE               1486
POSTALCODE            76
COUNTRY                0
TERRITORY           1074
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

Step 4: Drop Rows with All Nulls (if any)

In [16]:
df.dropna(how='all', inplace=True)

Step 5: Handle Missing Values (forward fill as example)

In [17]:
df.ffill(inplace=True)

Step 6: Remove Duplicates

In [18]:
df.drop_duplicates(inplace=True)
print('Shape After Removing Duplicates:', df.shape)

Shape After Removing Duplicates: (2823, 25)

Step 7: Standardize Column Names

In [19]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')
df.columns

Index(['ordernumber', 'quantityordered', 'priceeach', 'orderlinenumber',
       'sales', 'orderdate', 'status', 'qtr_id', 'month_id', 'year_id',
       'productline', 'msrp', 'productcode', 'customername', 'phone',
       'addressline1', 'addressline2', 'city', 'state', 'postalcode',
       'country', 'territory', 'contactlastname', 'contactfirstname',
       'dealsize'],
      dtype='object')

Step 8: Convert Date Column to datetime

In [20]:
if 'orderdate' in df.columns:
    df['orderdate'] = pd.to_datetime(df['orderdate'], errors='coerce')
df.dtypes

ordernumber                  int64
quantityordered              int64
priceeach                  float64
orderlinenumber              int64
sales                      float64
orderdate           datetime64[ns]
status                      object
qtr_id                       int64
month_id                     int64
year_id                      int64
productline                 object
msrp                         int64
productcode                 object
customername                object
phone                       object
addressline1                object
addressline2                object
city                        object
state                       object
postalcode                  object
country                     object
territory                   object
contactlastname             object
contactfirstname            object
dealsize                    object
dtype: object

Step 9: Convert Columns to Proper Data Types

In [21]:
if 'quantityordered' in df.columns:
    df['quantityordered'] = df['quantityordered'].astype('int')

Step 10: Save Cleaned Dataset

In [22]:
df.to_csv('cleaned_sales_data.csv', index=False)

Step 11: Summary of Cleaning

In [23]:
print("\nData Cleaning Completed.")
print("Final Shape:", df.shape)

Data Cleaning Completed.
Final Shape: (2823, 25)

### âœ… Data cleaning complete!
- Missing values handled
- Duplicates removed
- Column names standardized
- Data types fixed
- Cleaned dataset saved as `cleaned_sales_data.csv`